# Expression Exercises

## TASK 1
write an expression that evaluates to 20

In [ ]:
#TODO:
10+10-0

## TASK 2
write an expression that evaluates to -45

In [ ]:
#TODO:
45-90

## TASK 3 
create a 5 element list and write an expression that evaluates to the length of the list squared

In [2]:
#TODO:
var = [1,2,3,4,5]
len(var)**2

25

# Statement Exercises

## TASK 1
Write a simple assignment statement that assigns 10 to var

In [5]:
#TODO:
var = 10
var

10

## TASK 2
write an expression that evaluates to 200 and assign it to var

In [6]:
#TODO:
var = (10**2)*2
var

200

## TASK 3
write a statement that prints out your first and last name separated by semi-colons.

In [10]:
#TODO:
print("Oliver","Gels",sep = ";")

Oliver;Gels

# Arithmetic operator exercises

## TASK 1
calculate the product of 6 and 7, then floor divide the result by 3 and assign the value to var. Then print out the result.

In [11]:
#TODO:
var = (6*7)//3
print(var)

14

## TASK 2
* Calculate 50 divided by 5 and assign the result to `var`.
* Then find the remainder of 20 divided by 6 and assign the result to `remainder` 
* Calculate `var` to the power of `remainder` and print the result

In [12]:
#TODO:
var = 50/5
remainder = 20%6
print(var**remainder)

100.0

## TASK 3
This is the formula for the pythagorean therom

$a^{2}+b^{2}=c^{2}$

using the variables below, solve for $c^{2}$

In [13]:
a = 8
b = 4
#TODO: 
c_squared = a**2 + b**2
c_squared

80

# Comparison operators exercises

## TASK 1
check to see if x is greater than y

In [14]:
x = 10
y = 5
#TODO:
x > y

True

## TASK 2
check to see if x is less than y

In [15]:
x = 10
y = 5
#TODO:
x < y

False

## TASK 3
check to see if a is equal to b

In [16]:
a = (True or False) and (True and True)
b = False
#TODO:
a == b

False

## TASK 4 
check to see if a is greater than or equal to b

In [17]:
a = len([1,2,3,4]) ** 2
b = (10//3) * 5
#TODO:
a >=b

True

## TASK 5
Check to see if a is not equal to b

In [18]:
a = "I am a"
b = "I am b"
#TODO:
a != b

True

## TASK 6
check to see if a is less than or equal to b

In [19]:
a = 99
b = len([x for x in range(100)]) - 1
#TODO:
a <= b

True

# Logic exercises

## TASK 1
Create and evaluate the truth of the following
* `a` is True
* `b` is False
* Is `a` and `b` true?

In [20]:
#TODO:
a = True
b = False
a and b

False

## TASK 2
* assign the expression 5 is greater than 2, to `a`
* assign the expression len([1,2,3,4]) is less than 10, to `b`
* What is the result of the expression `a or b is true`

In [22]:
#TODO:
a = 5>2
b = len([1,2,3,4]) < 10
a or b

True

## TASK 3 
what are the values for `a`, `b`, `x`, and `y` if the expression `(a and b) and not (x or y)` is true?

***There may be more than one solution***

In [23]:
a = True
b = True
x = False
y = False
(a and b) and not (x or y)

True

## TASK 4
What are the values for `x` and `y` if the expression    `not((x and not y) or (not x and not y))` evaluates to false.

***There may be more than one solution***

In [24]:
x = True
y = False
not((x and not y) or (not x and not y))

False

# Membership exercises

## TASK 1
Check to see if 'burn' is present in the string and print the result

In [25]:
string = "Wasburn"
"burn" in string

True

## TASK 2
check to see if 'Grandma' is present in the tuple and print the result

In [26]:
tpl = ("Mom", "Dad", "Brother", "Brother", "Sister", "Pet")
"Grandma" in tpl

False

## TASK 3
Is 10 squared present in the list?

In [27]:
lst = [100 - 10, 99 + 6, 100 ** .5, 'Bruh']
10**2 in lst

False

## TASK 4
Is the key 'awareness' not in the dictionary?

In [ ]:
dct = {'mind':"Thinking",
       'body':"Feeling",
       'world':"Acting"}
#TODO

# Identity exercises

## TASK 1
are the two variables identical?

In [28]:
var = 44
var2 = 50 - 6
var is var2

True

## TASK 2
are the two variables identical

In [29]:
var = len([1,2,3,4,5])
var2 = len([54,23,54,12,69])
var is var2

True

## TASK 3
Are the two variables identical?

In [30]:
var = [10, 12, 14, 16]
var2 = [10, 12, 14, 16]
var is var2

False

## TASK 4
Are the two variables identical?

In [31]:
var = {1: 111, 2:222, 3:333}
var2 = var
var is var2

True

## TASK 5 
are the two variables not identical?

In [32]:
var = 'Hello'
var2 = 'hello'
var is not var2

True