# TASK 1
use negative indexing to return the 3rd value in the list
--

In [1]:
var = ["I", "am", "the", "third", "index"]
#TODO
var[-3]

'the'

# TASK 2
Slice the list so that the following gets returned:
`[(5, 10), (11, -2), (8, -12)]`
--

In [4]:
points = [(23, 56),  (5, 10), (11, -2), (8, -12),  (-5, -5), (0, 4)]
#TODO
points[1:4]

[(5, 10), (11, -2), (8, -12)]

# TASK 3
Slice the list so that everything after the 3rd position gets returned.
--

In [6]:
prices = [4.99, 3.50, 99.99, 10.00, 5.85, 6.90, .25, 55.00]
#TODO
prices[3:]

[10.0, 5.85, 6.9, 0.25, 55.0]

# TASK 4
Slice the string so that the following gets returned: **"Battery life"**
---

In [9]:
message = "Amazing battery life. And a 14‑inch or 16‑inch Liquid Retina XDR display."
#TODO
message[8:20]

'battery life'

# TASK 5
In this example we have a list of words and we want to create a new list with only the last character from each word. Convert the for loop that does this below into a list comprehension.
---

In [12]:
var = ["Hello", "Washburn", "big", "banana", "saw", "dad"]
new = [word[-1] for word in var]
new

#TODO

['o', 'n', 'g', 'a', 'w', 'd']

# TASK 6
In this example, we have a for loop that iterates over a list of numbers and squares them. For each number in the list, a tuple is created with the original number and its squared value which is then appended to a new list resulting in a list of tuples. Convert the for loop implementation into a list comprehension.
----

### Example Output:
[(5, 25), (11, 121), (8, 64)]

In [15]:
var = [.554, 32.5, 88.88, 43.5, 32, 54, 62, 100]
new = []
for value in var:
    tup = (value, value ** 2)
    new.append(tup)

#TODO
new = [(value,value**2) for value in var]
new

[(0.554, 0.3069160000000001),
 (32.5, 1056.25),
 (88.88, 7899.654399999999),
 (43.5, 1892.25),
 (32, 1024),
 (54, 2916),
 (62, 3844),
 (100, 10000)]

# TASK 7
Write a list comprehension to create a list of cubed values (to the power of 3) from 1 to 15.
---

In [16]:
#TODO
nums = [i**3 for i in range(1,16)]
nums

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375]

# TASK 8
Write a list comprehension to create the numbers 0 to 100 and assign it to the variable `hundred`. Then write a for loop or list comprehension to create a new list with only the even numbers from the `hundred` list.
---

### Example output
`[0, 2, 4, 6, 8, 10, 12, ... 100]`

In [17]:
#TODO
hundred = [i for i in range(1,101)]
even = [i for i in hundred if i%2 == 0]
even

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

# TASK 9
Calculate and return the median value of the list *(May need to use floor division -> `//`)*
--

### Example output:
`[43, 54, 22, 12, 78] -> meadian = 43` 

**The median is the middle index of a sorted list of numbers**

In [19]:
#TODO:
var = [4, 5, 2, 4, 6]
var.sort()
median = len(var) // 2 
median

2

# TASK 10
write a for loop that removes and returns the values in the last index of the list. Print the values as they're returned.

**Sample output:**
[1,2,3]
> value = 3, [1,2]

> value = 2, [1]

> value = 1, []

In [20]:
var = ["last", True, 5+5, False, [1,2,3], "first"]
#TODO:
for i in range(len(var)):
  print(var.pop())

first
[1, 2, 3]
False
10
True
last

# TASK 11

Below is a list of numbers, some of which are repeated. Use a list comprehension or for loop to count how many times each number appears and create a tuple with the original number and its count. Append the tuple to a new list to create a list of tuples.
---

### Example output:
`[1,2,2,2,3,4,4,4,5,5,6,6,7,7,7,8,8,8,8,8] -> [(1, 1), (2, 3), (4, 3), (5, 2), (6, 2), (7, 3), (8, 5)]`


***DO NOT USE THE COUNTER METHOD FROM COLLECTIONS***

In [38]:
values = [10, 10, 2, 43, 43, 90, 2, 2, 10, 5, 68, 86, 86, 86, 86, 100, 0.5, .5, .5, 10, 19, 20, 20, 20, 20, 20, 20, 20, 20]
values.sort()
unique = list(set(values))
unique.sort()
thing = []
for i in unique:
  original_values = i
  freq = values.count(i)
  thing.append((original_values,freq))
thing

[(0.5, 3),
 (2, 3),
 (5, 1),
 (10, 4),
 (19, 1),
 (20, 8),
 (43, 2),
 (68, 1),
 (86, 4),
 (90, 1),
 (100, 1)]