# Explicit Conversion

## TASK 1
Convert the string to an integer value

In [2]:
#TODO: 
var = "2"
var = int(var)
type(var),var

(int, 2)

## TASK 2
Convert the list into a tuple

In [3]:
#TODO
var = [1,2,3,4,5]
var = tuple(var)
type(var), var

(tuple, (1, 2, 3, 4, 5))

## TASK 3
convert the tuple into a string

In [4]:
#TODO
var = (1,2,3,4)
var = str(var)
type(var), var

(str, '(1, 2, 3, 4)')

# User input

## TASK 1
Ask the user for their name then ask for their age and print the results

In [5]:
#TODO
name = input("What's your name?")
age = input("What's your age?")
print(f"Hello {name} you are {age}")

What's your name?Oliver
What's your age?15
Hello Oliver you are 15

## TASK 2
Ask the user for how many classes they're taking this semester and print the results.

In [7]:
#TODO
num_classes = input("How many classes have you taken this semester?")
print(f"you have taken {num_classes} classes this semester")

How many classes have you taken this semester?6
you have taken 6 classes this semester

## TASK 3
Ask the user for their name and age, then convert their age to a integer and multiply by the length of their name.

In [8]:
#TODO
name = input("What is your name?")
age = int(input("What is your age?"))
print(age*len(name))

What is your name?Oliver
What is your age?15
90

## TASK 4
Matilda has 10 pets (she's a crazy cat lady). Input the amount of pets you have and do a comparison to see if she has more pets than you.

In [18]:
#TODO
your_pet = int(input("Matilda has 10 pets. How many do you have?"))
Matilda_pet = 10
more = bool(Matilda_pet <= your_pet)
print(f"The fact that you have more pets than Matilda is {more}")

Matilda has 10 pets. How many do you have?1
The fact that you have more pets than Matilda is False