<a href="https://colab.research.google.com/github/MostleeMolde/PYTHONCOURSE101/blob/main/Modules/3.%20Data%20structures%20and%20Methods/3.2%20Dictionaries/Dictionary_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# PART 1 Tasks
---

# TASK 1
Create a dictionary where the keys are numbers and the values are equal to the number squared

In [ ]:
#TODO

# TASK 2
Using the dictionary from Task 1, loop through the keys to print out all the values.

In [ ]:
#TODO

# TASK 3
create a dictionary called `temperature` with the keys `low, medium, high`. Try and access the key `extreme`, which should result in an error. Resolve this error by having the dictionary return "Extreme not in temperature".

In [ ]:
#TODO

# TASK 4
***Below is a dictionary with words as the keys and `None` as the value. You are also provided with a list that contains all of the keys in the dictionary, plus a few extra.*** 

Your task is to loop through the list and check if the key is present in the dictionary.
- If the key is present, update the value to be equal to the length of the word
- If the key is not present, add the key to the dictionary and set the value equal to the length of the word

### ***Example Input***

`d = {'Hello':None, "world": None}`

`l = ["hello", "world", "good", "day"]`
### ***Expected output***
`print(d) -> {'Hello':5, "world": 5, "good": 4, "day": 3}`

In [ ]:
d = {
    "green": None,
    "eggs": None
}

l = [
    "green",
    "eggs",
    "and",
    "ham"
]

#TODO: update the dictionary to add all of the elements from the list as keys, and the length of each element as the values

# TASK 5
Create a dictionary where a color are the keys and the values are a list of objects that are that color. For example,
`"red": ["stop sign", "red pepper", "blood"]`. Then write a for loop to print each key, and another for loop inside the first one to print each value.

### **Example Output**
```python
{
    'red':["stop sign", "red pepper", "blood"],
    'blue': ['sky', 'water', 'blueberry']
}

# output
red
    stop sign 
    red pepper
    blood

blue 
    sky
    water
    blueberry
```

***HINT: May need to use nested for loops***

In [ ]:
#TODO

-----
# Dictionary Tasks part 2

# TASK 1
Using a for loop, have 3 different users enter their name and favorite food to create a list of tuples. Then use the list of tuples to create a dictionary.

### Example output
```python
{
    'gabe' : 'sushi',
    'nathan' : 'pasta',
    'cianni': 'alfredo'
}
```

In [2]:
# Solution goes here
data = []
for i in range(3):
  name = input("Name")
  food = input("Food")
  info = (name, food)
  data.append(info)
data = dict(data)
data

NameOliver
Foodburger
Nameelias
Foodpizza
Namegabe
Foodsushi

{'Oliver': 'burger', 'elias': 'pizza', 'gabe': 'sushi'}

# TASK 2 
Use the list below to create a dictionary with the default values of 10

### Expected output
```python
{
    'dime': 10,
    'decade': 10,
    '1 + 9': 10
}
```

In [3]:
var = ["Dime", "Decade", "1 + 9"]
# Solution goes here
default = 10
dictionary = dict.fromkeys(var,default)
dictionary

{'1 + 9': 10, 'Decade': 10, 'Dime': 10}

# TASK 3
Given the dictionary below, group the keys by type and also show which type has the most files.

In [6]:
var = {
    'file1': 'audio',
    'file2': 'document',
    'file3': 'document',
    'file4': 'project',
    'file5': 'audio',
    'file6': "document",
    'file7': "project",
    'file8': 'project',
    'file9': "project",
    'file10': "audio"
}
types = {}
for key, value in var.items():
  types.setdefault(value, [])
  types[value].append(key)

most = ""
most_num = 0
for i in types:
  if len(types[i]) > most_num:
    most_num = len(types[i])
    most = i
print(types, f"{most} has the most files")

{'audio': ['file1', 'file5', 'file10'], 'document': ['file2', 'file3', 'file6'], 'project': ['file4', 'file7', 'file8', 'file9']} project has the most files

# TASK 4
using the dictionary from task 3, print out the number of unique categories in the dictionary and what those categories are.

In [15]:
#TODO
categories_num = len(types)
print(f"Unique categories:{categories_num} which are:")
for i in types:
  print(i)

Unique categories:3 which are:
audio
document
project

# TASK 5
Create a new list in the dictionary that is equal to the sum of each of the elements in the list and tuple.

### Expected output
```python
var = {
    'list': [43, 12, 53, 66],
    'tuple': (23, 66, 12, 77),
    'sum': [66, 78, 65, 143]
}
```

In [16]:
var = {
    'list': [43, 12, 53, 66],
    'tuple': (23, 66, 12, 77)
}

var["sum"] = []
for i in range(len(var["list"])):
  sum = var['list'][i] + var["tuple"][i]
  var["sum"].append(sum)
var

{'list': [43, 12, 53, 66], 'sum': [66, 78, 65, 143], 'tuple': (23, 66, 12, 77)}

# TASK 6
using the dataset below, find the year when the population was the largest and create a dictionary with the year as the key and the population as the value.

### Example output
```python 
{
    2019: 54388234
}
```

In [26]:
import requests
def get_data():
    data = requests.get("https://datausa.io/api/data?drilldowns=Nation&measures=Population").json()
    return data['data']

data = get_data()
high_pop = 0
year = 0
for i in data:
  pop = i["Population"]
  if pop > high_pop:
    high_pop = pop
    year = i["Year"]
high_pop,year

(328239523, '2019')

# TASK 7 
calling the `get_user()` will return information for a random made up user account. Use the dictionary to create a new dictionary with the following items. Do this for 3 random users and create a list of dictionaries where each dictionary is a list element. Then print out each of the random users names and city.

* gender
* city
* first and last name (combined)
* username
* password

## Example ouput
```python
[
    {
        'gender': 'Male',
        'city' : 'Minneapolis',
        'name': 'gabe flomo',
        'username': 'gabe111',
        'password': 'securepassword'
    },
    {
        'gender': 'Female',
        'city' : 'Chicago',
        'name': 'Cherelle bower',
        'username': 'cherelle111',
        'password': 'securepassword'
    },
    {
        'gender': 'Male',
        'city' : 'Minneapolis',
        'name': 'Nathan flomo',
        'username': 'Nathan111',
        'password': 'securepassword'
    }
]

#output
"Gabe - Minneapolis"
"Cherelle - Chicago"
"Nathan - Minneapolis"
```

**Each time you call the `get_user()` function, you will get different data**

In [29]:
def get_user():
    data = requests.get("https://randomuser.me/api/").json()
    return data['results'][0]

data = get_user()
data

{'cell': '0476-552-832',
 'dob': {'age': 56, 'date': '1965-01-13T00:44:32.790Z'},
 'email': 'letitia.black@example.com',
 'gender': 'female',
 'id': {'name': 'TFN', 'value': '621840190'},
 'location': {'city': 'Nowra',
  'coordinates': {'latitude': '-89.5589', 'longitude': '54.4333'},
  'country': 'Australia',
  'postcode': 7373,
  'state': 'Northern Territory',
  'street': {'name': 'Country Club Rd', 'number': 3924},
  'timezone': {'description': 'Mountain Time (US & Canada)',
   'offset': '-7:00'}},
 'login': {'md5': '0a9968047a2a5858672d3962a91f0786',
  'password': 'yankees',
  'salt': 'Q4fpnL1u',
  'sha1': 'a536126fcc259aac0b5116d414801f0e4b4bfe53',
  'sha256': 'a2e731f9018f824a828e2f3c8f608a1f1b555cefc747f5199165471f4084180a',
  'username': 'beautifulswan128',
  'uuid': '91226295-bbe1-4339-95f0-e06a710a516c'},
 'name': {'first': 'Letitia', 'last': 'Black', 'title': 'Miss'},
 'nat': 'AU',
 'phone': '00-0631-4760',
 'picture': {'large': 'https://randomuser.me/api/portraits/women/45.jpg',
  'medium': 'https://randomuser.me/api/portraits/med/women/45.jpg',
  'thumbnail': 'https://randomuser.me/api/portraits/thumb/women/45.jpg'},
 'registered': {'age': 8, 'date': '2013-03-03T23:34:25.490Z'}}

In [44]:
people = []
for i in range(3):
  data = get_user()
  info = {"gender":data["gender"],
           "city":data["location"]["city"],
          "name":data["name"]["first"] + data["name"]["last"],
         "username": data["login"]["username"],
          "password":data["login"]["password"]}
  people.append(info)
people

[{'city': 'Angra dos Reis',
  'gender': 'male',
  'name': 'Anieloda Luz',
  'password': 'columbia',
  'username': 'crazygoose535'},
 {'city': 'Talvik',
  'gender': 'male',
  'name': 'IdrisMossige',
  'password': 'katie',
  'username': 'orangefrog496'},
 {'city': 'Nova Iguaçu',
  'gender': 'female',
  'name': 'SonjaMonteiro',
  'password': '1115',
  'username': 'heavybear957'}]