<a href="https://colab.research.google.com/github/MostleeMolde/PYTHONCOURSE101/blob/main/Modules/3.%20Data%20structures%20and%20Methods/3.2%20Dictionaries/in_class_demo%20part2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Other ways to create dictionaries
Like with many other concepts in python, there are multiple ways to create dictionaries. In this section we will look at the most useful alternatives to creating this data structure.

# The `dict()` constructor
Since dictionaries are a collection of items, or `key:value` pairs, we can create a list containing 2 element tuples that can be converted into items in a dictionary.
--

```python 
items = [
    ('name', 'Gabe'),
    ('age', 22),
    ('job', 'instructor')
]
```

Now that we have our list of items, all we need to do is call the `dict()` constructor and give it our list of items and it will convert it to a dictionary for us.
--

```python
dictionary = dict(items)
print(dictionary) -> {'name': 'Gabe', 'age', 22, 'job', 'instructor'}

```

In [3]:
#TODO create a list of tuples and convert it inot a dictionary
emp = [
    ("name", "Bill"),
    ("age","33"),
    ("job","Janitor")
]
emp = dict(emp)
emp

{'age': '33', 'job': 'Janitor', 'name': 'Bill'}

In [6]:
#TODO Lets use a for loop to create an employee list of tuples, then convert it into a dictionary
# create an empty list
employees_list = []
# create a for loop that iterates 3 times
for _ in range(3):
    # get the employee name
    name = input("Name")
    # get the employee department
    dept = input("What's your department")
    # create a tuple with the name and department
    info = (name,dept)
    # add the employee tuple to the list of employees
    employees_list.append(info)

# create a dictionary from the list of employee tuples
employees_list = dict(employees_list)
employees_list

NameOliver
What's your departmentIDk
NameElias
What's your departmentHR
NameGabe
What's your departmentIT

{'Elias': 'HR', 'Gabe': 'IT', 'Oliver': 'IDk'}

# The `.fromkeys()` method
The `.fromkeys()` method is a way to create a dictionary from another iterable object. Given a sequence, like a list or tuple, the `.fromkeys()` method will create a dictionary where the keys of the dictionary are generated from the elements of the sequence.
--

```python 
var = ["Name", "age", "title"]
dictionary = dict.fromkeys(var) -> {"Name": None, "age": None, "title": None}
```

When the dictionary gets created, all the values are set to `None` by default. `None` in python basically means *no type* or *not a value* which isn't very useful. To resolve this issue, the `.fromkeys()` method can take a second argument that will specify a default value for each of keys in our dictionary.
--

```python 
var = ["Name", "age", "title"]
default = 'unknown'
dictionary = dict.fromkeys(var, default) -> {"Name": 'unknown', "age": 'unknown', "title": 'unknown'}
```

In [7]:
#TODO create a list of programming languages then create a dictionary and  set the default value to 'general_purpose'
languages= ["python","C++", "Java"]
default = "general purpose"
dictionary = dict.fromkeys(languages, default)
dictionary

{'C++': 'general purpose',
 'Java': 'general purpose',
 'python': 'general purpose'}

# Accessing all keys, values, and item pairs
Say we have a dictionary of social media apps where the app name is the key and the app type or category are the values.
--
```python
{
    'Snapchat': 'social networking',
    'discord': 'social networking',
    'twitter': 'microblogging',
    'instagram': 'media sharing',
    'vsco': 'media sharing'
}
```
Given this information, we want to create a new dictionary where the app category is the key and the apps that fall under that category are our values. We are going to look at a few ways to do this using the `.keys(), .values(), and .items()` dictionary methods.
--
-----
# *.keys()*
The `keys()` method returns an iterable object containing all the keys in a dictionary.
--

In [11]:
data = {
    'Snapchat': 'social networking',
    'discord': 'social networking',
    'twitter': 'microblogging',
    'instagram': 'media sharing',
    'vsco': 'media sharing'
}

#TODO get all the keys from the dict and show its type
type(data.keys())

dict_keys

In [13]:
#TODO cast the keys to a list
keys = list(data.keys())
keys

['Snapchat', 'discord', 'twitter', 'instagram', 'vsco']

-------
# *.values()*
The `values()` method returns all the values in a dictionary.
--

In [15]:
#TODO get all of the dictionary values and show its type
values = data.values()

In [17]:
#TODO We can convert the values into a list by casting it as well
values = list(data.values())
values

['social networking',
 'social networking',
 'microblogging',
 'media sharing',
 'media sharing']

-----
# *.items()*
This method returns all the keys and values of the dictionary at the same time.
--

In [20]:
list(data.items())

[('Snapchat', 'social networking'),
 ('discord', 'social networking'),
 ('twitter', 'microblogging'),
 ('instagram', 'media sharing'),
 ('vsco', 'media sharing')]

Notice how the items get returned as a list of tuples, this goes back to the dictionary constructor where we could intialize a dictionary simply by giving it a list of tuples, or in other words, a list of items. We can convert this list of items from the type `dict_items` to a `list` by using the same casting technique.
--

# Looping through keys, values and items
Since the each of these methods are used to convert the dictionary into some kind of iterable, we are able to loop through them as if they were lists.

In [ ]:
data = {
    'Snapchat': 'social networking',
    'discord': 'social networking',
    'twitter': 'microblogging',
    'instagram': 'media sharing',
    'vsco': 'media sharing'
}

In [23]:
#TODO Loop through dictionary keys
for key in data.keys():
  print(key)

Snapchat
discord
twitter
instagram
vsco

In [24]:
#TODO loop through dictionary values
for value in data.values():
  print(value)

social networking
social networking
microblogging
media sharing
media sharing

In [25]:
#TODO loop through dictionary items
for item in data.items():
  print(item)

('Snapchat', 'social networking')
('discord', 'social networking')
('twitter', 'microblogging')
('instagram', 'media sharing')
('vsco', 'media sharing')

In [26]:
#TODO loop through dictionary items by unpacking the pairs
for key, value in data.items():
  print(key, value)

Snapchat social networking
discord social networking
twitter microblogging
instagram media sharing
vsco media sharing

# Nested Data structures
A nested data structure is basically a data structure that has another data structure as one of its elements. You've already seen something this when working with a `list of tuples` or a `list of lists` and you can also do this with dictionaries. All you have to do is add the data structure as one of the values to your dictionary and you're set.

In [28]:
#TODO create a dictionary with a list as its values
var = {
    'integers': [1,2,3,4,5],
    'floats': [1.1,2.2,3.3,4.4,5.5]
}
var

{'floats': [1.1, 2.2, 3.3, 4.4, 5.5], 'integers': [1, 2, 3, 4, 5]}

# Question: If I want to return the number 3.3 from my dictionary how should I do it?

In [29]:
#TODO return the value 3.3
var["floats"][2]

3.3

In [31]:
var["floats"].append(6.6)
var

{'floats': [1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 6.6], 'integers': [1, 2, 3, 4, 5]}

## Dictionary inside of a dictionary
Noy only can you nest list/tuples or any other data structure inside of dictionaries, but you can also nest a dictionary inside of itself.

In [32]:
#TODO create a nested dictionary dict1 and dict2 with lists and bools as values
var = {
    "dict1":{
        "bool":True,
        "list": [1,2,3,4,5]
    },
    "dict2":{
        "bool":False,
        "tuple":(5,4,3,2,1)
    }
}
var

{'dict1': {'bool': True, 'list': [1, 2, 3, 4, 5]},
 'dict2': {'bool': False, 'tuple': (5, 4, 3, 2, 1)}}

# Question: If I wanted to access the list in dict2, how would I do it?

In [33]:
#TODO access the list in dict2
var["dict2"]["bool"]

False

# Adding values to a list nested in a dictionary
When we nest other data structures inside of dictionaries, we can still treat them like the original object. This means that if we have a list nested inside of a dictionary, we can still do things like appending or slicing

In [ ]:
#TODO create a dictionary with a list nested inside of it and append new values to the list.

----
# Mini Project: Clustering app names by category
Utilize either the `keys()`, `values()`, or `items()` methods along with nested data types to group the resturaunts by category.

### Expected output
```python
resturaunts = {
    'mcdonalds': 'fast food',
    'wakame': 'sushi',
    'wendys': 'fast food',
    'caribou': 'cafe',
    'starbucks': 'cafe',
    'burger king': 'fast food',
    'bagu': 'sushi',
    'popeyes': 'fast food',
    'dunkin doughnuts': 'cafe',
    'kyoto sushi': 'sushi'
}

categories = {
    'fast food': ['mcdonalds', 'wendys', 'burger king', 'popeyes'],
    'cafe': ['caribou', 'starbucks', 'dunkin doughnuts'],
    'sushi': ['wakame', 'kyoto sushi', 'bagu sushi'],
}
```

In [37]:
resturaunts = {
    'mcdonalds': 'fast food',
    'wakame': 'sushi',
    'wendys': 'fast food',
    'caribou': 'cafe',
    'starbucks': 'cafe',
    'burger king': 'fast food',
    'bagu': 'sushi',
    'popeyes': 'fast food',
    'dunkin doughnuts': 'cafe',
    'kyoto sushi': 'sushi'
}

#TODO group by catagory
categories = {}
for key, value in resturaunts.items():
  if value not in categories:
    categories[value] = [key]
  else:
    categories[value].append(key)
  
categories

{'cafe': ['caribou', 'starbucks', 'dunkin doughnuts'],
 'fast food': ['mcdonalds', 'wendys', 'burger king', 'popeyes'],
 'sushi': ['wakame', 'bagu', 'kyoto sushi']}

# Other Methods
In this section we will look at some of the remaining dictionary methods that'll be useful for current and future projects.

* `.pop()`, `.popitem()`, and `.clear()`
* `.update()`
* `setdefault()`


## Removing items from dictionaries
There are 3 methods that can be used to remove items from dictionaries. `pop(key)` removes and returns the item with the specified key, `popitem()` returns and removes the last added item, and `clear()` deletes all items in the dictionary.

In [38]:
#TODO remove all items where the key starts with the letter F
var = {
    'filler': None,
    'bunjee': None,
    'fast': None,
    'furious': None,
    'great': None,
    'fax': None
}

var.pop("filler")
var.pop("fast")
var.pop("furious")
var.pop("fax")
var

{'bunjee': None, 'great': None}

In [39]:
#TODO create a dictionary of integer keys and float values. Remove the last item
var = {
    1: 1.11,
    2: 2.22,
    3: 3.33,
    4: 4.44
}
var.popitem()
var

{1: 1.11, 2: 2.22, 3: 3.33}

In [40]:
#TODO delete all items from the dictionary
var = {
    "I": "am",
    "A": "Dictionary",
    'And': "I", 
    "Want": "to",
    "Be": "Deleted 🥲"
}
var.clear()
var

{}

# Combining dictionaries
The `update()` method inserts the specified items to the dictionary.
The specified items can be a dictionary, or an iterable object with key value pairs.

```python
dict.update(items)
```

In [41]:
#TODO update the float dictionary to also hold integers by combining the integers and float dictionaries
integers = {
    'one': 1,
    'one-hundred': 100,
    'ninety-nine-thousand': 99000
}

floats = {
    'one and a half': 1.5,
    'two and three quarters': 2.75,
    'pie': 3.1459
}

floats.update(integers)
floats

{'ninety-nine-thousand': 99000,
 'one': 1,
 'one and a half': 1.5,
 'one-hundred': 100,
 'pie': 3.1459,
 'two and three quarters': 2.75}

In [42]:
#TODO update the dictionary with a list of item tuples
var = {
    'Iron man':'Marvel',
    'spider man': 'Marvel',
    'batman': 'DC'
}

items = [
    ('wonder woman', 'DC'),
    ("venom", "marvel"),
    ("joker", "DC")
]
var.update(items)
var

{'Iron man': 'Marvel',
 'batman': 'DC',
 'joker': 'DC',
 'spider man': 'Marvel',
 'venom': 'marvel',
 'wonder woman': 'DC'}

# Default values
The `setdefault()` method returns the value of the item with the specified key.
If the key does not exist, insert the key, with the specified value. If the key does exist, the original value will be returned.

***This methog is similar to `.get()` except that this method will actuall create a new `key : value` pair if the key doesn't exist.

```python
dict.setdefault(key, value)
```

In [46]:
var = {
    'uber': 'car',
    'air uber': "plane"
}

# use setdefault to return the value for uber
var.setdefault("uber", "pickup")
# use setdefault to return the value for air uber
var.setdefault("air uber", "plane")
# use setdefault to return the value for space uber, if the key is not present set the value to rocketship
var.setdefault("space uber", "rocket ship")
var

{'air uber': 'plane', 'space uber': 'rocket ship', 'uber': 'car'}

## Using setdefault to simplify our resturaunt grouping
In the original project, if we wanted to add a new key and value, we had to check if the key existed in the dictionary already. If it didn't exist, we would create the key and set its value as a list. 

We can simplify this with the `setdefault()` method to check and create the `key : value` pair for us.

In [48]:
categories2 = {}
for key, value in resturaunts.items():
  categories2.setdefault(value,[])
  categories2[value].append(key)
categories2

{'cafe': ['caribou', 'starbucks', 'dunkin doughnuts'],
 'fast food': ['mcdonalds', 'wendys', 'burger king', 'popeyes'],
 'sushi': ['wakame', 'bagu', 'kyoto sushi']}