<a href="https://colab.research.google.com/github/MostleeMolde/PYTHONCOURSE101/blob/main/Modules/3.%20Data%20structures%20and%20Methods/3.2%20Dictionaries/in_class_demo%20part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Dictionaries

You can think of a dictionary as a mapping between a set of keys and a set of values. Each key maps to a value. The association of a key and a value is called a **key:value** pair or sometimes an item.
--

**As an example, we’ll build a dictionary that stores employee record.**
--

<img src = "imgs/dict.png">

# Creating Dictionaries
You can create a dictionary by placing a comma-separated list of `key:value` pairs in curly braces `{}`. Each key is separated from its associated value by a colon `:`
--

```python
dictionary = {'key': 'value',
              'key2': 'value2'}
```

>Think about a dictionary in python as being like an actual dictionary, or phone book. All of the words in a dictionary are unique yet two unique words may share similar definitions

In [2]:
#TODO: Build the dictionary that stores employee records
employees = {
    "Name":"Oliver",
    "age":22,
    "Job":"Unemployed"
}
employees

{'Job': 'Unemployed', 'Name': 'Oliver', 'age': 22}

# Properties of a Dictionary
----------

## **Keys must be unique:**
A key can appear in a dictionary only once.
---

**if you specify a key more than once during the creation of a dictionary, the last value for that key becomes the associated value.**

In [5]:
#TODO: Create a dictionary with some of the keys being identical
animals = {
    "Cat":"Cutie",
     "Dog":"Cutie2",
     "Cat":"AHAHAHA"      
           
           
           }
animals

{'Cat': 'AHAHAHA', 'Dog': 'Cutie2'}

## **Keys must be immutable:**
> *Remember, immutable types can't change.* 

You can create a key in a dictionary using any immutable data type – such as *numbers, strings, booleans or tuples.*
--

In [12]:
#TODO Create a dictionary with the key data types -> number, string, tuple
data = {
    90:"int",
    "hello":"str",
    80.45:"float",
    (0,1):"tuple"
}
data[90], data["hello"], data[80.45], data[(0,1)]

('int', 'str', 'float', 'tuple')

In [13]:
#TODO Show what happens when a key is created with a mutable type, such as a list
data = {
    [1,2,3,4]:"List"
}
data

TypeError: ignored

## **Value can be of any type:**
There are no restrictions on dictionary values. A dictionary value can be any type of object and can appear in a dictionary multiple times.
--

In [15]:
#TODO Create dictionary values of types -> string, list, tuple
data = {
    "str":"Hello im string",
    "list":[1,"yes", 5.5],
    "tuple":(1,2,3,4,5)

}
data

{'list': [1, 'yes', 5.5], 'str': 'Hello im string', 'tuple': (1, 2, 3, 4, 5)}

In [16]:
#TODO Create a dictionary with all identical values
data = {
    "name":None,
    "age":None,
    "position":None
}
data

{'age': None, 'name': None, 'position': None}

# Accessing Dictionary Items
-----
Unlike lists or tuples, the items of a dictionary are not indexed with integer indices. Instead, you use the keys to access the corresponding values.
--

***You can fetch a value from a dictionary by referring to its key in square brackets [].***

```python
D = {'name': 'Bob',
     'age': 25,
     'job': 'Dev'}

print(D['name'])
# Prints Bob
```

In [18]:
#TODO print the name and age from the dictionary
var = {'name': 'Gabe',
       'age': 22,
       'job': 'Dev',
       'city': 'Minneapolis',
       'email': 'Gabe@lituation.com'}

print(var["name"],var["age"])

Gabe 22

In [20]:
#TODO print the first and last dictionary values
var = {
    101: "Intro to python",
    "location": "Washburn",
    "Currently teaching": True,
    (3.15, 5.30): "time"
}
var[101], var[(3.15, 5.3)]

('Intro to python', 'time')

If you refer to a key that is not in the dictionary, you’ll get an error. To avoid such exception, you can use the special dictionary `get()` method. This method returns the value for key if key is in the dictionary, else None, so that this method never raises an error.
--

In [21]:
#TODO Try an access a key that is not in the dictionary
var = {
    "Snapchat": "Photo messaging",
    "Instagram": "Photo and video",
    "Twitter": "MicroBlogging"
}
var["name"]

KeyError: ignored

In [22]:
#TODO Try an access a key that is not in the dictionary using the get method
var.get("Facebook")

In [24]:
#TODO: Set a default value for when a key is not found
key = input("Key")
default = f"{key} was not found in dictionary"
var.get(key, default)

KeySnapchat

'Photo messaging'

# Adding/Updating dictionary values
-----
Adding or updating dictionary values is easy. Just refer to the item by its key and assign a value. If the key is already present in the dictionary, its value is replaced by the new one.
--

In [30]:
#TODO Update the snapchat value to "Sneaky Media"
print(f"Value before edit: {var['Snapchat']}")
var["Snapchat"] = "Sneaky Media"
print(f"Value before edit: {var['Snapchat']}")

Value before edit: Sneaky Media
Value before edit: Sneaky Media

You can also add a new `key:value` pair by referring to the item by its key and assign a value. If the key is already present in the dictionary, its value is replaced by the new one.
--

In [35]:
#TODO add a new key value pair to the dictionary
var["meta"] = "new facebook"
for i in range(1000):
  del var[i]
var

{'Instagram': 'Photo and video',
 'Snapchat': 'Sneaky Media',
 'Twitter': 'MicroBlogging',
 'meta': 'new facebook'}

# Using loops with dictionaries
There are many ways to use loop with dictionaries, many of which are useful for the creation of or updating dictionaries.

## Creating dictionaries from a list using for loops
Given a list, you can loop through the elements and use them as either the keys or values for a dictionary. In this example, we will use the list of names to create 3 different dictionaries using loops.
- Names as keys
- Names as values
- Names as values, Name length as values

In [51]:
#TODO create a dictionary using the names list with the names being the keys and the amount of times the name is in the list as the value
names = ['Harper', 'Elias', 'Oliver', 'Gabe', 'Gabe']
data = {}
for name in names:
  data[name] = names.count(name)
print(data)

Harper
{'Harper': 1, 'Elias': 1, 'Oliver': 1, 'Gabe': 2}

In [53]:
#TODO Create a dictionary where the index of the name is the key and the name is the value
data3={}
for name in range(len(names)):
  data3[name] = names[name]
data3

{0: 'Harper', 1: 'Elias', 2: 'Oliver', 3: 'Gabe', 4: 'Gabe'}

In [45]:
#TODO create a dictionary where the names are keys and the name length are the values
data2 = {}
for name in names:
  data2[name] = len(name)
data2

{'Elias': 5, 'Gabe': 4, 'Harper': 6, 'Oliver': 6}

# Checking for Key Memebership
---
You can use the `in` operator to check if a key is present inside of a dictionary. This can be useful for updating dictionaries, as well as creating things like counters (we will go over this in part 2 of this lesson).
--

In [55]:
contacts = {
    "Oliver": '612-542-7787',
    "Elias": '651-990-1102',
    "Harper": '952-665-9088'
}

#TODO Check is Harper is in the dictionary
"Harper" in contacts
#TODO Check if Gabe is in the dictionary
"Gabe" in contacts

False

# Looping through Dictionary keys
---------
Although dictionaries aren't considered sequences in python, they are still iterable objects. You can loop through the keys in a dictionary by using a `for in` loop.
--

```python
d = {'key':'value', 'key2':'value2'}
for key in d:
    print(key)
```

In [56]:
contacts = {
    "Oliver": '612-542-7787',
    "Elias": '651-990-1102',
    "Harper": '952-665-9088'
}

#TODO loop over the contacts dictionary
for contact in contacts:
  print(contacts[contact])
#TODO loop over the contacts and print the values

612-542-7787
651-990-1102
952-665-9088

In [57]:
for contact in contacts:
  print(contact, contacts[contact])

Oliver 612-542-7787
Elias 651-990-1102
Harper 952-665-9088

In [61]:
items = list(contacts.items())
print(items)
data = dict(items)
data

[('Oliver', '612-542-7787'), ('Elias', '651-990-1102'), ('Harper', '952-665-9088')]

{'Elias': '651-990-1102', 'Harper': '952-665-9088', 'Oliver': '612-542-7787'}