<a href="https://colab.research.google.com/github/MostleeMolde/PYTHONCOURSE101/blob/main/Projects/Review/remove%20missing%20data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions 
The CEO of a company called *`we love numbers`* has noticed that some of their datasets don't look right. Parts of the dataset have values other than numbers, which makes the CEO very mad because he loves numbers ðŸ˜¡. You've been hired to help clean their datasets by removing any of the rows that contain values other than numbers. 
--

### Expectations
1. Remove any rows that have elements other than the type `int` or `float`
2. Convert data types that can be converted to a `float`
3. Count how many rows that were to be removed

### Example output
```python 
data = [
    [1,1,1,0,2,"3",True, True],
    [1.54,1,[],0,2,[],None, True],
    [1,0,0,1,5,"3",1, 1],
    [1,1.6,1,0,6,"0.93",False, 0],
    [1,1,1.9,0,7,"3",None, True],
    [1,1,1,0,"8","3.23",.5, "32"],
    [1,1,1,0,2.2,.99,.432, 1.55]
]
```
`There were 2 rows removed`

`Cleaned data`
```python
    [1,1,1,0,2,3,1, 1],
    [1,0,0,1,5,3,1, 1],
    [1,1.6,1,0,6,0.93,0, 0],
    [1,1,1,0,8,3.23,.5, 32],
    [1,1,1,0,2.2,.99,.432, 1.55]

```

In [23]:
#TODO Clean the dataset
data = [
    [1, 1, 1, 0, 2, "3", True, True],
    [1.54, 1, [], 0, 2, [], None, True],
    [1, 0, 0, 1, 5, "3", 1, 1],
    [1, 1.6, 1, 0, 6, "0.93", False, 0],
    [1, 1, 1.9, 0, 7, "3", None, True],
    [1, 1, 1, 0, "8", "3.23", .5, "32"],
    [1, 1, 1, 0, 2.2, .99, .432, 1.55]
]
rem = 0
away =[] 
for i in range(len(data)):
  for x in data[i]:
    if x == float() or bool() or str() or int():
      print(x)
     # away.append(i)
    #  rem += 1

0
0
0
0
0
False
0
0
0
0

ValueError: ignored