<a href="https://colab.research.google.com/github/MostleeMolde/PYTHONCOURSE101/blob/main/Review/review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Instructions
This review is for anyone wanting to lookback on the most important concepts covered in the class so far. This section will cover everything in module 1 and module 2 in a shorter/information packed format.

### Topics 
* **printing:** `multiple arguments, f-strings, keyword arguments`
* **variables:** `assignment, data types, len(), and type()`
* **operators and statements/expressions:** `expressions, statements, important operators`
* **input and type conversion:** `explicit type conversion, user input`

# Printing
In python, the `print()` function is a way to display messages to the screen. It is useful when wanting to know what type of data a variable is holding, or to know what is going on in the execution of your program. 
--

**To print anything in python, all you need to do is put what you want to print inside the parentheses of the print function.**
--
```python
# print a string
print("Hello you ðŸ˜Š")

# print multiple Strings
print("Hello", "World", "!")

#print variables too
var = 15
print("This is the value", var)
```

**You can also add some other arguments to the print function to add extra 'spice' to how things get displayed**
--
```python 
# use sep to change the default separator between print arguments (default is a space). The separator goes where the commas are 
print("Separate", "Me", "with", "smiles", sep = 'ðŸ˜Š') # -> Sepearate ðŸ˜Š Me ðŸ˜Š with ðŸ˜Š smiles
```

**The last and most powerful thing you can do with printing are f-strings. F-strings allow you to add variables directly to a string to display variable data on the fly. You create an f-string by putting an `f` before the opening quotation and insert variables in curly brackets**
--
```python
# create a variable
age = 22
print(f"I am {age} years old!") # -> I am 22 years old!
```

In [ ]:
#TODO print your name and your favorite food

In [ ]:
#TODO print your name, age, and favorite thing to do seperated by ':)' using the sep argument.

In [ ]:
#TODO create 2 variables, one called birthday and one called present. Enter your birthday and what you want for a present, then print them using f-strings

# Variables
variables in python are liked named containers in python that hold objects and data. To create a variable, simply write the name of the variable followed by an equals sign and the value you want to assign to the variable.
--

Variables can also take on many data types. The available data types in python are:
- Numbers: integers, float, complex.
- Strings: double quotes (""), or single quotes ('')
- Arrays: lists, tuples
- Boolean: True and False

```python
# creating a numeric variable
int = 23
float = 3.33
complex = 4j

# creating a string
string = "Hello"

# strings can also be combined using the addition operator
var = "Hello" + "world"
print(var) # -> "Hello world"

# creating a list and tuple
list = [1,2,3,4,5]
tuple = (5,4,3,2,1)

# you can also add new values to a list by using the append method
var = [56, 78, 90]
var.append(123) # -> [56, 78, 90, 123]

# you can index values in a list or tuple by using an index position (starting at 0)
var[0] # -> 56
var[3] # -> 123

#indexing can also be done with strings
var = "Washburn"
var[2] # -> 's'

# you can also change values at a certain index location by using the assignment operator (=)
var[0] = "Hello"
print(var) # -> ["Hello", 78, 90, 123]

# create a boolean data type
bool = True or False

# you can also create multiple variables at Once on a single line
x, y, z = 1, 2, 3

# get the length of a string or list/tuple with the len() function
len("Hello World") -> 11
len([1,2,3,4,5]) -> 5

# get the data type of a variable with the type function
type([1,2,3,4]) -> list
type("Hello") -> str
```

In [1]:
#TODO create an integer variable and a float variable and print them using f-strings
x = 4
y = 6.3
print(f"{x} and {y}")

4 and 6.3

In [3]:
#TODO create and assign a float, int, and bool to 3 variables at once on a single line
x,y,z = 5.5, 4, True

In [4]:
#TODO ceate a list of integers, then append a float to the list
ints = [1,2,3,4,5]
ints.append(5.5)
ints

[1, 2, 3, 4, 5, 5.5]

In [5]:
#TODO  create a list of integers then change one of the elements to a boolean value
ints = [1,2,3,4,5]
ints[2] = True
ints

[1, 2, True, 4, 5]

In [6]:
#TODO index the first and last elements from the list and add them together
var = [1,2,3,4,5,6]
x = var[0] + var[5]
x

7

# Important Operators
Operators in python are objects that manipulate data. For example, the `+` operator manipulates data by being able to combine values to create a new value. Here are some important operators that you should know. 

## Arithmetic

| Operator | Meaning                                                      | Example                  |
| :------: | :----------------------------------------------------------- | :----------------------- |
|    +     | Add two operands or unary plus                               | x + y+ 2                 |
|    -     | Subtract right operand from the left or unary minus          | x - y- 2                 |
|    *     | Multiply two operands                                        | x * y                    |
|    /     | Divide left operand by the right one (always results into float) | x / y                |
|    %     | Modulus - remainder of the division of left operand by the right | x % y (remainder of x/y) |
|    //    | Floor division - division that results into whole number adjusted to the left in the number line | x // y  |
|    **    | Exponent - left operand raised to the power of right         | x**y (x to the power y)  |

## Assignement
| Operator | Example | Equivalent to |
| :------- | :------ | :------------ |
| =        | x = 5   | x = 5         |
| +=       | x += 5  | x = x + 5     |
| -=       | x -= 5  | x = x - 5     |

## Comparison
| Operator | Meaning                                                      | Example |
| :------- | :----------------------------------------------------------- | :------ |
| >        | Greater than - True if left operand is greater than the right | x > y   |
| <        | Less than - True if left operand is less than the right      | x < y   |
| ==       | Equal to - True if both operands are equal                   | x == y  |
| !=       | Not equal to - True if operands are not equal                | x != y  |
| >=       | Greater than or equal to - True if left operand is greater than or equal to the right | x >= y  |
| <=       | Less than or equal to - True if left operand is less than or equal to the right | x <= y  |


## Logical 
| Operator | Meaning                                            | Example |
| :------- | :------------------------------------------------- | :------ |
| and      | True if both the operands are true                 | x and y |
| or       | True if either of the operands is true             | x or y  |
| not      | True if operand is false (complements the operand) | not x   |

## Membership
| Operator | Meaning                                             | Example    |
| :------- | :-------------------------------------------------- | :--------- |
| in       | True if value/variable is found in the sequence     | 5 in x     |
| not in   | True if value/variable is not found in the sequence | 5 not in x |

## Identity
| Operator | Meaning                                                      | Example       |
| :------- | :----------------------------------------------------------- | :------------ |
| is       | True if the operands are identical (refer to the same object) | x is True     |
| is not   | True if the operands are not identical (do not refer to the same object) | x is not True |

In [7]:
#TODO use the arithmetic operators to create a variable that is equal to the sum of 10 and 20 (sum means addition)
x = 10+20
x

30

In [8]:
#TODO use arithmetic operators to create a variable that is the difference of 20 and 15 (difference means subtraction)
x = 20 - 15
x

5

In [9]:
#TODO use arithmetic operators to find 5 squared
5**2

25

In [10]:
#TODO use comparison operators to see if 10 is greater than 5
10 > 5

True

In [11]:
#TODO use comparison operators to see if 10 is equal to 7
10 == 7

False

In [12]:
#TODO use logical operators to see what the result of True and True is
True and True

True

In [14]:
#TODO Feel free to experiment here with the different types of Operators
5**4**3**2**1 % 4857203485724059827435098247520934857240398572340598724350982745029845720439587

1299762342268087613293087893534604761677675123395873501886373773278193126173859

# Input and type conversion

```python 
#getting user input
name = input("Enter your name")

# converting string input to an integer
int(input("Enter your age"))

# converting an int to a string
var = 45
str(var) -> "45"
```

### Allowable conversions
- int -> str 
- int -> float 
#
- float -> int
- float -> str
#
- str -> int (if the string is a number)
- str -> float (if the string is a number)
- str -> list 
- str -> tuple
#
- list -> tuple 
- list -> set 
- list -> str
#
- tuple -> list 
- tuple -> set
- tuple -> str

In [17]:
#TODO have the user input their age and convert it to an integer
age = int(input("What's your age"))

What's your age15

In [18]:
#TODO convert the variables into floats and multiply them together
var = '5'
var2 = '20'
int(var)*int(var2)

100

In [21]:
#TODO convert the list into a tuple
var = [1,2,3,4,5]
var = tuple(var)
var

(1, 2, 3, 4, 5)