# Variable Exercises

## Task 1
<b>Create a numeric variable and print out its memory address</b>

***You print memory addresses using the id() function***

In [1]:
# Code goes here
nubmer = 10
id(nubmer)

94574913129248

## Task 2
<b>Create a variable of type string and print out its value, then reassign a value of type float to the same variable and printout its value</b>

In [3]:
# Code goes here
thing = "String"
print(thing)
thing = 5.2
print(thing)

String
5.2

## Task 3
<b>Assign values of different types to each of the following variables and print out their types</b>

In [5]:
# Code goes here
var1, var2, var3 = True,5.3,"YES"
print(type(var1))
print(type(var2))
print(type(var3))

<class 'bool'>
<class 'float'>
<class 'str'>

------------------
# String Exercises

## Task 1
<b>Create a string and print the first character</b>

In [6]:
# Code goes here
String = "String"
print(String[0])

S

## Task 2
<b>In your own words, describe what is meant by an index</b>

In [ ]:
# Response goes here
# 
# An index is ... The position of an item in a sequence

## Task 3
<b>Create a string and print out the last character (without using the len() function)</b>

In [7]:
# Code goes here
string = "QWERTYUIOP"
print(string[-1])

P

## Task 4
<b>Create a string and print out the last character using the len() function</b>

In [9]:
# Code goes here
string = "QWERTYUIOP"
print(string[len(string) -1])

P

## Task 5
<b> Print the first, middle, and last character of the string, as well as its length</b>

In [10]:
# Code goes here
var = "Directing"
print(var[0],var[4],var[-1],len(var))

D c g 9

## Task 6
<b> Create two string variables and concatenate (combine) them to create a new variable called message, then print the message.</b>

In [13]:
# Code goes here
var1, var2 = "What's"," Up"
message = var1 +var2
print(message)

What's Up

-------------------
# Lists and Tuple Exercises

## Task 1
<b> Create a 5 element list and print out its length</b>

In [16]:
# Code goes here
x = [1,2,3,4,5]
len(x)

5

## Task 2
<b> create a 5 element list of integers then print the list. Next, change the first and last elements then print the list</b>

In [18]:
# Code goes here
x = [1,2,3,4,5]
print(x)
x[0] = 7
x[4] = 9
print(x)

[1, 2, 3, 4, 5]
[7, 2, 3, 4, 9]

## Task 3
<b> create a 3 element list where each element is a diffrent type, then print out the type of each element</b>

In [19]:
# Code goes here 
y = [5, "Good", True]
print(type(y[0]))
print(type(y[1]))
print(type(y[2]))

<class 'int'>
<class 'str'>
<class 'bool'>

## Task 4
<b> Create a 5 element tuple of floats, then print out the middle value</b>

In [20]:
# Code goes here
z = (2.2,7.6,8.9,3.1,4.4334)
print(z[2])

8.9

## Task 5
<b>The following code produces an error. Change the data type so that the error gets fixed</b>

In [21]:
# Solution goes here
var = ['This', "is", "a", "tuple"]
var[3] = 'list'
print(var)

['This', 'is', 'a', 'list']

## TASK 6
**Create a list of numbers then append the values 10, 15, and 20 to the list**

In [25]:
#TODO: 
numbers = [4,4,5,2,1,6,7]
numbers.append(10)
numbers.append(15)
numbers.append(20)
print(numbers)

[4, 4, 5, 2, 1, 6, 7, 10, 15, 20]